@charset "utf-8";
body{
	zoom:1.2;
	/*background-color: #D2E9FF;
	background-image:url(beijing.jpg);*/
}
 
#all{
	position: relative;
	margin:0 auto;
	width: 70%;
	/*height: 500px;*/
	background-color:#F0FFFF;
	/*opacity:0.5;*/
}

#mainBody{
	width: 100%;
	background-color: white;
	margin: 0 auto;
}

.head{
	width: 100%;
	height: 50px;
	background-color: #1E90FF ;
}

.tail{
	width: 100%;
	height: 70px;
	background-color: #1E90FF ;
}

.button1{
	background-color: white; /* Green */
    border: none;
    color: #1E90FF;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border:1px solid silver;
	border-radius: 8px;
	margin-top: 10px;
}

/*媒体查询代码，表示只有在屏幕尺寸小于810像素的时候才会应用下面的样式*/
@media screen and (max-width: 810px) {
	#all{
		position: relative;
		margin:0 auto;
		width: 100%;
		/*height: 500px;*/
		background-color:#F0FFFF ;
		/*opacity:0.5;*/
	}
	/*#section1, #section2, #section3, #section41, #section42  {
		margin-left: 150px;
	}*/
}